.header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 350px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #fff;
    background-color: #777;
}
*, ::after, ::before {
    box-sizing: box;
}
h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1;
}
.header h1 a {
    color: #fff;
    text-decoration: none;
}
.okul{
      
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block; 
        text-align: center;
        font-size: large;
}
/* Mobil ekranlar için genel stil */
@media (max-width: 767px) {
    .header {
        min-height: 200px; /* Mobilde header yüksekliğini ayarla */
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    h1 {
        font-size: 2rem; /* Mobilde başlık font boyutunu ayarla */
    }

    /* Diğer öğeler için genel stil ayarlamaları yapabilirsin */
    p {
        font-size: 14px; /* Örnek olarak metin font boyutunu ayarla */
    }

    img {
        max-width: 100%; /* Örnek olarak resimleri tam genişlikte göster */
        height: auto;
    }
}
